body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
#shopify-section-header, .sticky-header {
  max-width: 100%;
}

#PageContainer {
  min-height: 100vh;
  padding-bottom: 88px;
  position: relative;
}

#shopify-section-footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.footer_conflict {
  display: inline-block;
  height: 20px;
}

@media (min-width: 769px) and (max-width: 873px) {
  .footer_conflict {
    height: 135px;
  }
}

@media (min-width: 874px) and (max-width: 1020px) {
  .footer_conflict {
    height: 90px;
  }
}

