.step a {
  text-decoration: none;
}

.step {
  max-width: 1060px;
  /* border: 2px solid #1BB298; */
  margin: 0 auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
}

.question {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  margin: 5px 0 15px 0;
}

.sub-question {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  margin: 5px 0 15px 0;
  color: #444;
}

.answer {
  text-align: center;
  word-wrap: break-word;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #B3B3B3;
  min-width: 25%;
  padding: 20px 10px;
  margin: 1% 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.answer .more {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}
.answer:hover {
  border: 2px solid #1BB298;
  cursor: pointer;
}

.dropdown-choose-state {
  width: 100%;
  padding: 0 0 30px;
  text-align: center;
}

.dropdown-choose-state select {
  width: 70%;
  height: 40px;
  line-height: 20px;
  border: 2px solid black;
  padding: 8px 10px;
  display: inline-block;
}

.quizagain {
  display: flex;
  justify-content: flex-start;
  line-height: 40px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #A8A8A8;
  padding: 40px 40px 10px;
}

.quizagain:hover {
  cursor: pointer;
  color: #1BB298;
}

.quizagain:hover .quizcircle {
  background-color: #1BB298;
}

.quizcircle {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 50% 50%;
  background-color: #A8A8A8;
  margin: 0 10px 0 0;
}

.quizcircle img {
  transform: scaleX(-1);
  max-width: 100%;
}

.nextbtn {
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 50% 50%;
  border: 1px solid white;
  background-color: #1BB298;
  color: white;
}

.nextbtn:hover {
  border: 1px solid black;
  cursor: pointer;
}

.nextbtn img {
  max-width: 100%;
}



.finalproduct {
  position: relative;
  display: inline-table;
  min-height: 400px;
  width: 30%;
  padding: 20px 20px 60px 20px;
  margin: 0 10px;
  border: 1px solid #CCCCCC;
  text-align: center;
  font-weight: normal;
  box-sizing: border-box;
}

.productname {
  height: 90px;
  font-weight: 650;
  font-size: 16px;
}

.whitespace {
  height: 40px;
}

.description, .description2 {
  text-align: left;
  margin: 0 0 12px 0;
}

.display-flex {
  display: flex;
}

.display-none {
  display: none;
}

.aspect-value {
  flex: 0 0 20px;
  width: 20px;
  height: 100%;
  margin: 0 10px 0 0;
}

.product-aspect {
  align-self: flex-end;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.show-more, .show-less {
  font-size: 14px;
  margin: 0 0 12px;
}

.show-more:hover, .show-less:hover {
  cursor: pointer;
}

.learnmore {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: #1BB298;
  color: white;
  font-size: 16px;
  font-weight: 100;
  height: 40px;
  line-height: 38px;
}




@media (min-width: 501px) and (max-width: 767px) {
  .step {
    margin: 0 auto;
    padding: 20px 5px;
  }
  .answer {
    margin: 0 0 30px 0;
    width: 80%;
    padding: 10px 40px;
    text-align: left;
    border: 2px solid black;
    outline: 2px solid #B3B3B3;
  }
  .finalproduct {
    padding: 5px 5px;
    width: 30%;
    margin: 0 2px;
  }
  .productname {
    height: 65px;
    font-weight: 650;
  }
  .learnmore {
    bottom: 5px;
    left: 5px;
    right: 5px;
  }
}

@media (max-width: 500px) {
  .step {
    margin: 0 auto;
    padding: 20px 5px;
  }
  .answer {
    margin: 0 0 30px 0;
    width: 80%;
    padding: 10px 40px;
    text-align: left;
    border: 2px solid black;
    outline: 2px solid #B3B3B3;
  }
  .finalproduct {
    padding: 5px 5px;
    width: 30%;
    margin: 0 2px;
  }
  .productname {
    height: 40px;
    font-size: 10px;
  }
  .learnmore {
    bottom: 5px;
    left: 5px;
    right: 5px;
  }
}

@media (max-width: 350px) {
  .productname {
    height: 52px;
  }
}