body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.step {
  max-width: 1060px;
  border: 2px solid #1BB298;
  margin: 0 auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
}

.question {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  margin: 5px 0 15px 0;
}

.answer {
  text-align: center;
  word-wrap: break-word;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #B3B3B3;
  min-width: 25%;
  padding: 20px 10px;
  margin: 1% 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.answer:hover {
  border: 2px solid #1BB298;
  cursor: pointer;
}

.background {
  background-color: #BBE8E0;
}

.display-none {
  display: none;
}

.dropdown-choose-state {
  width: 100%;
  padding: 0 0 30px
}

.dropdown-choose-state select {
  width: 60%;
  height: 40px;
  margin: 0 20% 0 20%;
  line-height: 20px;
  border: 2px solid black;
}

.quizagain {
  display: flex;
  justify-content: flex-start;
  line-height: 40px;
  margin: 0 0 20px 5px;
  max-width: 160px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #A8A8A8;
}

.quizagain:hover {
  cursor: pointer;
  color: #1BB298;
}

.quizagain:hover .quizcircle {
  background-color: #1BB298;
}

.quizcircle {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 50% 50%;
  background-color: #A8A8A8;
  margin: 0 10px 0 0;
}

.quizcircle img {
  transform: scaleX(-1);
}


.nextbtn {
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 50% 50%;
  background-color: #1BB298;
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
  align-self: flex-end;
}

.nextbtn:hover {
  border: 1px solid black;
  cursor: pointer;
}





.finalproduct {
  max-width: 22%;
  padding: 20px;
  margin: 0 10px;
  border: 1px solid #CCCCCC;
  text-align: center;
  font-weight: bold;
}

.productname {
  height: 90px;
  font-weight: 650;
  font-size: 16px;
}

.whitespace {
  height: 40px;
}

.learnmore {
  background-color: #1BB298;
  color: white;
  font-size: 14px;
  font-weight: 100;
  height: 40px;
  line-height: 38px;
}




@media (max-width: 768px) {
  .step {
    margin: 0 auto;
  }
  .answer {
    margin: 0 0 30px 0;
    width: 80%;
    padding: 10px 40px;
    text-align: left;
    border: 1px solid black;
    outline: 2px solid #B3B3B3;
  }
  .finalproduct {
    max-width: 30%;
    margin: 0 5px;
  }
}

